.join {
  height: 200px;
  background-color: #0d0d59;
  position: relative;
  //z-index: 1;

  &__content {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    > .button {
      height: 60px;
      min-width: 210px;
      max-width: 320px;
      background-color: #e00109;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: 0.3s;
      font-size: 20px;
      font-weight: 900;
      color: $fontColor;
      text-align: center;
      position: relative;
      z-index: 5;

      &:hover {
        @include elHover(#e00109);
      }

      &:active {
        @include elActive(#e00109);
      }
    }

    > button {
      height: 60px;
      min-width: 210px;
      max-width: 320px;
      border: none;
      outline: none;
      background-color: #e00109;
      font-size: 20px;
      font-weight: 900;
      color: $fontColor;
      text-align: center;
      letter-spacing: 0.01em;
      cursor: pointer;
      padding: 0 1% 0 1%;

      &:hover {
        @include elHover(#e00109);
      }

      &:active {
        @include elActive(#e00109);
      }
    }
  }
}
