.main-leaders {
  background-color: #0d0d59;
  padding: 60px 0 60px 0;


  > h1 {
    margin: 0 auto 50px;
    font-size: 40px;
    font-weight: 700;
    color: $fontColor;
    text-align: center;
    text-transform: uppercase;
  }

  &__flex {
    height: 100px;
    width: #{calc(100% - 60px)};
    max-width: 800px;
    margin: 50px auto 0;
    position: relative;


    .card {
      width: #{calc(((100% - 40px) / 3) - 2%)};
      min-width: 100px;
      background-color: $bgColor;
      padding: 1%;
      margin-bottom: 15px;
      box-shadow: 0px 15px 15px 0px #08084d;
      position: absolute;
      z-index: 1;
      @media (max-width: 460px) {
          width: #{calc(((100% - 20px) / 2) - 2%)};
      }
      @media (max-width: 320px) {
          width: #{calc(100% - 2%)};
      }

      &__image {
        position: relative;
        cursor: pointer;

        > img {
          width: 100%;
          -o-object-fit: contain;
             object-fit: contain;
        }
        .card__comment {
          display: flex;
          position: absolute;
          background-color: rgba(2, 14, 100, 0.8);
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          text-indent: 10%;
          overflow: hidden;
          justify-content: center;
          align-items: center;
          opacity: 0;

          > a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            /* margin: 5% 5% 0 5%; */
            padding: 5% 5% 0 5%;
            font-size: 16px;
            line-height: 20px;
            font-weight: 400;
            color: #ffffff;
            letter-spacing: 0.01em;
            cursor: pointer;
          }
        }
        &:hover .card__comment {
          opacity: 1;
        }
      }
      &__info {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        > .number {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          font-size: 13px;
          color: rgba(2, 14, 100, 0.5);
          display: flex;
          align-items: center;
        }

        > div {
          > form {
            > button {
              border: none;
              outline: none;
              background: none;

              > i {
                font-size: 16px;
                color: #020e64;
                right: 4px;
                cursor: pointer;
                /* transition: 0.3s; */
              }
            }
          }
          // &:hover > form > button:first-child {
          //   display: block;
          // }
          // &:hover > form > button:last-child {
          //   display: none;
          // }
          > div {
            > button {
              border: none;
              outline: none;
              background: none;

              > i {
                font-size: 16px;
                color: #020e64;
                right: 4px;
                cursor: pointer;
                /* transition: 0.3s; */
                // &:hover {
                //   color: red;
                // }
              }
            }
          }
          @media(hover: hover) and (pointer: fine) {
            &:hover > div > button:first-child {
              display: block;
            }
            &:hover > div > button:last-child {
              display: none;
            }
          }

        }

        > p {
          font-size: 13px;
          font-weight: 900;
          color: #020e64;
          letter-spacing: 0.01em;
          margin-left: 4px;
        }
      }
    }
  }
}
