.navigation-line {
  background-color: $lineColorActive;
  box-shadow: 13px 22px 15px 0px #000300;
  border-radius: 3px;
}
@media (max-width: 319px) {.navigation-line {display: none;}}
.navi-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
  display: flex;
}
.step-0 {
  height: 7px;
  width: 7px;
  margin: 0 10px 0 10px;
  position: relative;
}
.step-1 {
  position: absolute;
  height: 7px;
  width: 7px;
  max-width: 167px;
  top: 0;
  right: 0;
}
.step-2 {
  position: absolute;
  height: 7px;
  width: 7px;
  top: 0;
  left: 0;
}
.step-3 {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  position: relative;
}
.step-4 {
  height: 0px;
  width: 7px;
  position: absolute;
  top: 0;
  right: 0px;
}
.step-5 {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  margin: 15% 0 0 0;
  position: absolute;
  z-index: 0;
}
.line-5-gallery {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  margin: -10% 0 0 0;
  z-index: 0;
}
.line-5-project {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  margin: 0 0 0 0;
  z-index: 0;
}
.step-6 {
  height: 0px;
  width: 7px;
  position: absolute;
  top: 0;
  left: 0px;
}
.step-7 {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  position: relative;
}
.line-7-gallery {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  position: absolute;
  margin: 10% 0 0 0;
}
.step-8 {
  height: 0px;
  width: 7px;
  position: absolute;
  top: 0;
  right: 0px;
}
.step-9 {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  position: relative;
}
.step-10 {
  height: 0px;
  width: 7px;
  position: absolute;
  top: 0;
  left: 0px;
}
.step-11 {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  position: relative;
}
.step-12 {
  height: 0px;
  width: 7px;
  position: absolute;
  top: 0;
  right: 0px;
}
.step-13 {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  position: relative;
}
.step-14 {
  height: 0px;
  width: 7px;
  position: absolute;
  top: 0;
  left: 0px;
}
.step-15 {
  height: 7px;
  width: 0px;
  max-width: 1100px;
  position: relative;
}
.step-16 {
  height: 0px;
  max-height: 204px;
  width: 7px;
  position: absolute;
  top: 0;
  right: 0px;
}
.step-17 {
  height: 7px;
  width: 0px;
  max-width: 550px;
  position: relative;
}
.step-18 {
  height: 0px;
  max-height: 107px;
  width: 7px;
  position: absolute;
  top: 0;
  left: 0;
}
.step-19 {
  height: 7px;
  width: 20%;
  position: absolute;
  top: 40px;
  left: 40%;
  z-index: 1;
  @media (max-width: 650px) { display: none;}
}
.step-20 {
  height: 47px;
  width: 7px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  @media (max-width: 650px) { display: none;}
}
.step-21{
  height: 116px;
  width: 7px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  @media (max-width: 650px) { display: none;}
}
.step-22 {
  height: 7px;
  width: 20%;
  position: absolute;
  top: -70px;
  left: 40%;
  z-index: 0;
  @media (max-width: 650px) { display: none;}
}

.join__step-1 {
  height: 67px;
  width: 7px;
  position: absolute;
  top: 74%;
  left: 52%;
  z-index: 1;
}
.join__step-2 {
  height: 7px;
  width: #{calc(3% + 7px)};;;
  position: absolute;
  top: #{calc(74% + 60px)};;
  left: 49%;
  z-index: 2;
}
.join__step-3 {
  height: 35px;
  width: 7px;
  position: absolute;
  top: 100%;
  left: 49%;
}
.line-steps {
  height: 7px;
  width: 1080px;
  max-width: #{calc(100% - 40px)};
  background-color: none;
  position: absolute;
  margin: 10% 0 0 0;
  z-index: -1;
}
.gallery-step-0 {
  // горизонтальная <-
  position: absolute;
  height: 7px;
  width: 0px;
  top: 0;
  right: 0;
}
.gallery-step-1 {
  // вертикальная <-
  position: absolute;
  height: 0px;
  width: 7px;
  top: 0;
  left: 0;
}
.gallery-step-2 {
  // горизонтальная ->
  position: absolute;
  height: 7px;
  width: 0px;
  top: 0;
  left: 0;
}
.gallery-step-3 {
  // вертикальная ->
  position: absolute;
  height: 0px;
  width: 7px;
  top: 0;
  right: 0;
}
